<h1>Mis Campañas</h1>



<mat-grid-list cols="2" rowHeight="2:1" *ngFor="let c of campaignsFilter ">
  <!--<mat-grid-tile *ngFor="let c of campaignsFilter " >-->
  
    <mat-card>
    <mat-card-header >
      <div>
        <mat-card-title style="font-size: medium;">{{c.name}}</mat-card-title>
      <div> <mat-card-subtitle style="font-size: small;"> {{c.creationDate}}</mat-card-subtitle></div> 
      <mat-chip-list> 
        <div><mat-chip color="primary" selected>{{c.countSends}} Entregados</mat-chip> </div>
        <div><mat-chip color="accent" selected>{{c.countOpens}} Abiertos</mat-chip> </div>
        <div><mat-chip color="warn" selected>{{c.countRejects}} Rechazados </mat-chip> </div>

      </mat-chip-list>
      
        <button mat-stroked-button color="primary" (click)="downloadDeliverys()"> Reporte CSV Entregados</button>  

        <button mat-stroked-button color="primary" (click)="downloadOpens()"> Reporte CSV Abiertos</button>  

        <button mat-stroked-button color="primary" (click)="downloadRejects()"> Reporte CSV Rechazados</button>  

        <button mat-stroked-button color="primary" (click)="downloadBounces()"> Reporte CSV Rebotes</button>  
        <button mat-stroked-button color="primary" (click)="downloadClicks()"> Reporte CSV Cicks</button>  
      </div>
      
    </mat-card-header>   
    <mat-card-content fxFlex="75%">
      <div style="display: block">
        <canvas baseChart
                [data]="[ c.countDeliverys, c.countRejects, c.countBounces,c.countOpens, c.countClicks]"
                [labels]="barChartLabels"
                [options]="barChartOptions"
                [legend]="barChartLegend"
                [chartType]="barChartType"></canvas>   
      </div> 
    </mat-card-content>
    </mat-card>

    
</mat-grid-list>