<h1>Mis Campañas</h1>



<mat-grid-list cols="2" rowHeight="2:1">
  <!--<mat-grid-tile *ngFor="let c of campaignsFilter " >-->
    <mat-grid-tile fxFlex="100% "*ngFor="let c of campaignsFilter ">
      
       <!--<mat-card fxFlex="100%" *ngFor="let c of campaignsFilter " >-->
    <mat-card-title-group fxFlex="25%">      
      <mat-card-title style="font-size: medium;">{{c.name}}</mat-card-title>
      <mat-card-subtitle style="font-size: small;"> {{c.creationDate}}</mat-card-subtitle>
      <mat-chip color="accent" selected>{{c.countSends}} Enviados</mat-chip>
      
      
      <button mat-stroked-button color="primary" (click)="download()"> Descargar</button>
      
    </mat-card-title-group>
  
    <mat-card-content fxFlex="75%">
      <div style="display: block">
        <canvas baseChart
                [data]="[ c.countDeliverys, c.countRejects, c.countBounces,c.countOpens, c.countClicks]"
                [labels]="barChartLabels"
                [options]="barChartOptions"
                [legend]="barChartLegend"
                [chartType]="barChartType"></canvas>   
      </div>
 
</mat-card-content>
 

    </mat-grid-tile>
</mat-grid-list>