<mat-card color="accent" class="parent">

    <form [formGroup]="form">

        <!--
        <label>Old Password</label>
        <mat-form-field>
            <input matInput formControlName="oldPwd" id="oldPwd" type="password" class="form-control" />
            <mat-error *ngIf="oldPwd.errors?.required">Please confirm your password</mat-error>

        </mat-form-field>

    -->

        <label>Nueva Contraseña</label>
        <mat-form-field>
            <input matInput formControlName="newPwd" id="newPwd" type="password" class="form-control" />
            <mat-error *ngIf="newPwd.errors?.required">Campo Requerido</mat-error>
        </mat-form-field>



        <label>Confirmar Contraseña</label>
        <mat-form-field>
            <input matInput formControlName="confirmPwd" id="confirmPwd" type="password" class="form-control" />
            <mat-error *ngIf="confirmPwd.errors?.required">Campo Requerido.</mat-error>
            <mat-error *ngIf="confirmPwd.valid && form.invalid && form.errors?.pwdsDontMatch">
                Passwords do not match.</mat-error>
        </mat-form-field>


        <button mat-raised-button color="accent" (click)="changePassword() " [disabled]="!isValidForm()">Cambiar Contraseña</button>

        <!--
    <button class="btn btn-primary">Change Password</button>
-->
    </form>
</mat-card>