.fill-space {
    flex: 1 1 auto;
}

.mat-toolbar {
    background: #007bff;
    color: #fff;
}

:host {
    display: flex;
    flex-direction: column;
    height: 100%;
}

mat-drawer {
    width: 350px;
}

mat-drawer-container {
    height: 100%;
}

mat-drawer-content {
    padding: 20px;
}