  <!--<mat-selection-list >
    <mat-list-option *ngFor="let lista of listas">
      {{lista.nombre}}
    </mat-list-option>
  </mat-selection-list>

    <div fxLayout="row " fxLayoutAlign="space-between center " fxLayoutGap="18px ">
    <mat-card  style = "background:linear-gradient(135deg, #e9eced 0%,#fffcfc 100%);" *ngFor="let lista of listas">
        <h3> {{lista.nombre}}</h3>
        
        <button mat-raised-button color="accent">Ver detalles</button>
 
    </mat-card>
</div>  -->
<mat-card>
  <h1>Listas </h1>
    <button mat-raised-button color="primary" (click)="abrirSweetAlert()" >Nueva lista</button>
</mat-card>

<mat-card-content fxLayoutAlign="center">
  <input class="custom-file-upload" type="file" #csvReader name="Upload CSV" id="txtFileUpload" (change)="fileChangeListener($event)" accept=".csv" />
</mat-card-content>
<mat-card-actions fxLayout="row" fxLayoutAlign="center">

  <div>
      <div *ngIf="isCompleted">
          <mat-progress-bar mode="indeterminate"></mat-progress-bar>
      </div>
      <div *ngIf="isFinish">
          <mat-card-content fxLayoutAlign="center">
              <h3>Carga Correcta</h3>
              <img img src="assets/img/finish.png" style="width:30px;height:30px;">
          </mat-card-content>
      </div>
      <div *ngIf="isError">
          <mat-card-content fxLayoutAlign="center" class="parent">
              <h3>Ha Ocurrido Un error</h3>
              <br>
              <h3 *ngIf="!isCSV_Valid">No es un archivo CSV</h3>
              <img img src="assets/img/error.png" style="width:80px;height:50px;">
          </mat-card-content>
      </div>

      <div>
          <mat-card-actions color="accent" *ngIf="isFinish && !isError">
            
              <button mat-raised-button (click)="upload()" color="accent">Subir</button>
          </mat-card-actions>
      </div>

      <div>
          <mat-card-actions color="accent" *ngIf="finishLoad">
              <h2>Carga finalizada</h2>
          </mat-card-actions>
      </div>
  </div>
</mat-card-actions>

    

  
<mat-grid-list cols="3" rowHeight="2:1">
    <mat-grid-tile  *ngFor="let lista of listas">
        <div fxLayout="row " fxLayoutAlign="space-between center " fxLayoutGap="50px ">
        <mat-card  style = "background-image: linear-gradient(-225deg, #E3FDF5 0%, #FFE6FA 100%); width: 250px;" >
            <h3> {{lista.nombre}}</h3>
            <h4>Fecha de creación: {{lista.fechaCreacion}}</h4>
            <div fxLayout="row " fxLayoutAlign="space-between center " fxLayoutGap="50px ">
              <button mat-raised-button color="primary" >Clientes: {{lista.total}}</button>
              <!--<mat-chip color="primary" >   {{lista.totalClientes}} </mat-chip>-->
            <button mat-raised-button color="warn" (click)=borrarLista(lista)>Eliminar</button>
            <!--<button mat-raised-button color="primary" (click)="getClientsbyLista(lista)" >get Clients by Lista</button>-->
            </div>
        </mat-card>
        </div>
    </mat-grid-tile>
    
  </mat-grid-list>
  