<h1>Correos Programados</h1>
<mat-divider></mat-divider>

<mat-card>
<mat-form-field appearance="fill">
    <mat-label>Seleccione la fecha</mat-label>
    <input matInput [matDatepicker]="picker">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <mat-selection-list #shoes>
    <mat-list-option *ngFor="let shoe of typesOfShoes">
      {{shoe}}
    </mat-list-option>
  </mat-selection-list>
  
  <p>
    Campañas: {{shoes.selectedOptions.selected.length}}
  </p>

  
</mat-card>

  
